<% layout('layout') -%>
<%- partial('nav') %>
<p>Hello world! This is HTML5 Boilerplate powered with <span class="fun">noob.js</span></p>
<div class="row">
  <div class="col-md-8">With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></div>
  <div class="col-md-4">bootstrap <span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
</div>
