<nav>
  <ul class="navigation">
    <li class="<%if(nav=="index"){%>active<%}%>"><a href="/">Home</a></li>
    <li class="<%if(nav=="contact"){%>active<%}%>"><a href="contact">Contact</a></li>
  </ul>
</nav>
